html, body {
   height: 100%;
}

body {
   font-family: 'Source Sans Pro', sans-serif !important;
}

.container_dash {
   float: right;
   max-width: 100%;
   position: relative;
   min-height: 100%;
   background: var(--grisc);
   top: 0;
   padding: 0 30px;

   @include from(l) {
      width: 87%;
      transition: width .4s;
   }

   @include to(m) {
      margin-top: 50px;
      padding: 0 15px;
   }
}

.dash_content {
   float: left;
   width: 100%;
   margin-top: 10px;
   margin-bottom: 30px;
}


.container_filtro{
   float: left;
   width: 100%;
   margin: 3px 0;
   border-radius: 5px;
   background: #fff;
   border:1px solid #eaeaea;
   padding: 5px 10px;

   label{
      font-size: 12px;
      font-weight: normal;
      color: #aaa;
   }
   .form-control{
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0) !important;
      border:1px solid #eaeaea !important;
   }
}

.btn-busfiltro {
   margin-top: 23px !important;
   background: var(--morado) url('img/ico-filtrob.svg') no-repeat center;
   background-size: 18px;
   border:1px solid var(--morado) !important;
   text-indent: -99999px;
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   font-size: 14px;
   line-height: 1.428571429;
   border-radius: 4px;

}
