//Frameword and library
$cssCore: false;
$cssHelpers: true;
$devMode: false;
@import "library/ed-grid/ed-grid";
@import "library/bootstrap-sass/assets/stylesheets/bootstrap";

// Config
@import "config/functions";
@import "config/variables";
@import "config/mixins";

//BASE
@import "base/base";

//Components
@import 'components/componets';

//Styles Helpers
@import "helpers/helpers";

// styles theme
@import "layouts/pagalo_style";
@import "layouts/login";
@import "layouts/register";
@import "layouts/dashboard";
@import "layouts/productos";
@import "layouts/pedidos";
@import "layouts/config";
@import "layouts/shop";
@import "layouts/clientes";
@import "layouts/transacciones";
@import "layouts/escritorio";
@import "layouts/tienda";
@import "layouts/envios";
@import "layouts/registro";
@import "layouts/reports";
@import "layouts/icons";
@import "layouts/highchart";
@import "layouts/charts";

//variables css colors and fonts theming
@import "theme/fonts";
@import "theme/colors";

//Hacks
@import "hacks/hacks";
