/* Productos */
.caja_modal {
   position: fixed;
   width: 100%;
   height: 100%;
   background: rgba(0,0,0,0.6);
   z-index: 100;
   top:0;
   left: 0;
}

@keyframes baocultar {
  from {
    top: 0;
  }
  to {
    top: -30%;
  }
}

@keyframes baaparecer {
  from {
    top: -30%;
  }
  to {
    top: 0;
  }
}

#area_detalleproductot {
  position: fixed;
  background: #fff;
  box-shadow: 0 0px 100px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 450px;
  width: 80%;
  max-width: 850px;
  margin: 75px auto 5px auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d3e0e9;
  z-index: 200;
  animation: 0.2s both;
  padding-left: 5px;

   @include to(m) {
      width: 100%;
      height: calc(100% - 12%);
   }
}

// #area_detalleproductot.ng-leave {
//   animation: 0.5s baocultar;
// }

#area_produtorelacionado {
  position: fixed;
  background: #fff;
  box-shadow: 0 0px 100px 0 rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  height: 320px;
  width: 80%;
  max-width: 850px;
  margin: 540px auto auto auto;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  border: 1px solid #d3e0e9;
  z-index: 200;
  animation: 0.2s baaparecer;

   .header_relacionado {
      float: left;
      width: 100%;
      border-bottom: 1px solid #d3e0e9;
      padding: 5px;
      margin-bottom: 10px;

         h1 {
            font-size: 15px;
            color: #333;
            text-align: left;
            margin: 0 15px;
            font-weight: 600;
         }
   }

   @include to(m) {
      display: none;
   }
}

#area_produtorelacionado.ng-leave {
  animation: 0.2s baocultar;
}

.header_dprocuto{
   float: left;
   width: 100%;
   height: 40px;
   border-bottom:  1px solid #d3e0e9;
   position: relative;

   h1 {
      font-size: 17px;
      color: #333;
      text-align: left;
      margin:10px 15px;
      font-weight: 600;

      @include to(m) {
         float: left;
         font-size: 15px;
      }
   }

   h1.title_pedido {
      float: left;
      font-size: var(--title);
      color: var(--morado);
      text-align: left;
      margin: 10px 15px;
      font-weight: $text_bold;
   }

   .areacerrar {
      position: absolute;
      right: 10px;
      top: 5px;
   }

   .icocerrar{
      float: left;
      width: 30px;
      height: 30px;
      // background: url('img/icov/ico-dcerrar.svg') no-repeat center;
      opacity: 1;
      background-size: 17px;
      cursor: pointer;
   }
}

#modal_nuevo {
   position: absolute;
   background: #fff;
   box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   height: 70%;
   width: 98%;
   max-width: 650px;
   margin: auto;
   right: 0;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 200;
   -webkit-animation: 0.2s baaparecer;
   animation: 0.2s baaparecer;

   @include to(m) {
      height: 98%;

      h1 {
         font-size: 11px;
      }

   }

   .header_area {
      float: left;
      width: 100%;
      height: 40px;
      position: relative;
      border:none;

      h1 {
         font-size: 15px;
         color: #333;
         text-align: left;
         margin: 10px 15px;
         font-weight: 600;
      }
   }

   .form-group {
      @include to(m) {
         margin-bottom: 5px;
      }

      ol .btn-default{
         // padding: 6px 10px 6px 10px !important;
         background: #eee;
         border: 1px solid #eee !important;
         font-size: 15px;
         color: #555;
      }
   }

   .form-control {
      background: #fff;
      border: 1px solid #ddd !important;
      box-shadow: none !important;
      transition: none !important;
      transition: none !important;
      transition: none !important;
      height: auto !important;
      padding-top: 7px;
      padding-bottom: 5px;
      padding-right: 10px;
      font-size: 15px;
      border-radius: 5px;
   }

   .nobordere{
      border-radius: 5px 0 0 5px !important;
   }

   label{
      font-size: 13px;
      color: #777;
      margin:0;
      letter-spacing: 0.02em;
      font-weight: normal;

   }

   .inpumoneda{

      span{
         color:#7963f1;
         font-weight: 600 !important;
         background: #fff !important;
         border-radius:0 5px 5px 0;
         border: 1px solid #ddd !important;
         border-left: none !important;
         padding: 7px 12px 6px 12px;
      }
   }

   .areaespe{
      margin:0;
      padding: 10px 5px;
      border-radius: 5px;
      background: #f9f9f9;

      .form-group{
         margin-bottom: 0;
      }

      h5 {
         font-size: var(--text);
         color: var(--negro);
      }
   }

}

#modal_nuevo_reg {
   position: absolute;
   background: #fff;
   box-shadow: 0 5px 50px 0 rgba(0, 0, 0, 0.1);
   border-radius: 5px;
   height:75%;
   width:475px;
   margin: auto;
   right: 0;
   top: 0;
   bottom: 0;
   left: 0;
   z-index: 200;
   -webkit-animation: 0.2s baaparecer;
   animation: 0.2s baaparecer;

   @include to(m) {
      height: 100%;
      width: 100%;
   }
}

#modal_nuevo.ng-leave {animation: 0.2s baocultar; }

@keyframes craparecer {
   from {
     right: -345px;
   }
   to {
     right: 0;
   }
}

@keyframes crocultar {
   from {
     right: 0;
   }
   to {
     right: -30%;
   }
}


#modalNoti {
   position: fixed;
   background: #fff;
   box-shadow: 0 0 25px 0px rgba(0, 0, 0, 0.15);
   border-top: none;
   height: 100%;
   width: 375px;
   right: 0;
   top: 0;
   z-index: 200;
   animation: .3s craparecer;
   overflow-y: hidden;

   @include to(m) {
      width: 100%;
   }
}

#modalNoti.ng-leave {
   animation: 0.2s crocultar;
}

.head_noti {
   float: left;
   width: 100%;
   background: linear-gradient(90deg,#5477f0 0%,#6c64ee);
   color: #fff;
   font-size: 18px;
   padding: 13px;

   p {
      float: left;
      width: 75%;
      margin: 0;
      font-size: 16px;
      font-weight: 600;
      text-align: center;
      color: #fff;
      padding-left: 85px;
      letter-spacing: 0.02em;
   }

   .icocerrarc {
      float: left;
      width: 25%;
      height: 25px;
      // background: url('img/ico-cerrarc.svg') no-repeat right center;
      background-size: 22px;
      cursor: pointer;
   }
}

.notifi_container {
   float: left;
   width: 100%;
   height: calc(100% - 50px);
   overflow: auto;
   background: #f9f9f9;

   ul{
      float: left;
      width: 100%;
      padding: 5px;
      margin: 0;
   }

   li{
      float: left;
      width: 100%;
      padding:15px;
      margin:0;
      margin-bottom: 5px;
      list-style: none;
      background: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.08);
   }

   h3{
      font-size: 15px;
      font-weight: 600;
      float: left;
      width: 100%;
      letter-spacing: 0.01em;
      margin:0;
   }

   p{
      font-size: 14px;
      font-weight: normal;
      float: left;
      width: 100%;
   }

   .btn{
      float: right;
      margin: 0;
      background: #646aef;
      background-size: 15px;
      color: #fafdff !important;
      font-weight: bold;
      font-size: 12px;
      padding-right: 25px;
      letter-spacing: 0.01em;
      margin: 1px 1px 1px 0px;
      cursor: pointer;

      &:hover{
         background: #fafdff;
         color: #646464 !important;
         background-size: 15px;
      }
   }

   .tnotifi{
      float: left;
      padding: 5px 10px;
      padding-left: 0;
      margin: 0;
      font-weight: bold;
      font-size: 13px;
      letter-spacing: 0.01em;
   }

   .camarillo{
      color: #fdb306;
      // background: url('img/icov/icov-actualiza.svg') no-repeat left  center;
      background-size: 15px;
      padding-left: 25px;
   }
   .cverde{
      color: #14db67;
      // background: url('img/icov/icov-novedad.svg') no-repeat left  center;
      background-size: 15px;
      padding-left: 25px;
   }

   .crojo{
      color: #db1446;
      // background: url('img/icov/icov-importante.svg') no-repeat left  center;
      background-size: 15px;
      padding-left: 25px;
   }

}

.my_modalpg {
   width: 100%;
   height: 100%;
   top: 0;
   left: 0;
   z-index: 1072;
   display: block;
   overflow-x: hidden;
   overflow-y: auto;
   position: fixed;
   outline: 0;
   animation: 0.2s baaparecer;

   @include to(m) {
      overflow: hidden;
   }
}

.my_modalpg.ng-leave {
  animation: 0.2s baocultar;
}

.modalpg_dialog {
   position: relative;
   width: auto;
   pointer-events: none;
   margin: 5vh auto;
   width: 100%;
   max-width: 1024px;
   height: 90vh;
   pointer-events: none;
   overflow: hidden;

   @include to(m) {
      margin: auto;
      width: 100%;
      max-width: 100%;
      height: 100%;
   }
}

#area_detallepedido {
   position: relative;
   background: #fff;
   box-shadow: 0 0px 100px 0 rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   width: 100%;
   height: 100%;
   min-height: calc(100vh - 10vh);
   overflow: hidden;
   pointer-events: auto;
   border: 1px solid #d3e0e9;
   z-index: 200;

   @include to(m) {
      width: 100%;
      height: 100%;
      border-radius: 0;
   }
}

.modal-backdrop_pg {
   width: 100vw;
   height: 100vh;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1071;
   background-color: #000;
   opacity: .5;
}

.modal_200x500{
   height: 250px;
   width: 500px;

   @include to(m) {
      height: 40% !important;
      width: 95% !important;
   }
}

.modal_250x300{
   height: 250px;
   width: 300px;

   @include to(m) {
      height: 40% !important;
      width: 95% !important;
   }
}

.modal_475x350{
   height: 475px;
   width: 350px;

   @include to(m) {
      height: 40% !important;
      width: 95% !important;
   }
}

.modal_615x620{
   height: 615px;
   width: 620px;

   @include to(m) {
      height: 100% !important;
      width: 95% !important;
   }
}

.modal_550x500{
   height: 550px;
   width: 500px;

   @include to(m) {
      height: 100% !important;
      width: 95% !important;
   }
}

.modal_520x500{
   height: 520px;
   width: 500px;

   @include to(m) {
      height: 100% !important;
      width: 95% !important;
   }
}

.modal_dinamic{
   width: var(--width);
   height: var(--height);

   @include to(m) {
      height: 100% !important;
      width: 95% !important;
   }
}

.caja_cvv{
   position: fixed;
   width: 300px;
   height: 300px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   background: #fff;
   border-radius: 5px;
   box-shadow: 0 0px 100px 0 rgba(0, 0, 0, 0.3);
   z-index: 700;
   padding: 10px;

   .img_card{
     float: left;
     width: 100%;
     height: 80px;
   //   background: url('img/icocvv.png') no-repeat center;
     background-size: 100px;
     margin-bottom: 10px;
   }

   p{
     text-align: center;
   }

    h3{
     text-align: center;
     font-size: 17px;
     font-weight: bold;
   }
 }


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);


.conf-modal {
   background-color: #fafafa;
   border-radius: 3px;
   box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
   position: absolute;
   width: 400px;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
   height: 350px;
   background: #fff;
   border-radius: 5px;
   padding: 4px 15px 10px 25px;
}

.conf-modal h1 {
  font-size: 24px;
  font-weight: 500;
  line-height: 10px;
  display: inline-block;
}

.title-text {
  height: 35px;
  margin-top: 22px;
  text-align: center;
}

.success h1 {
  color: #14C5C9;
}

.error h1 {
  color: #f5281a;
}

.title-icon {
  width: 27px;
  height: 27px;
  display: inline-block;
  margin-right: 10px;
  margin-left: 30px;
  margin-top: 30px;
  position: absolute;
}

.conf-modal p {
   color: #737373;
   padding: 5px 1px 0px 0px;
   font-size: 16px;
   text-align: center;
}


.modal-footer .conf-but {
  display: inline-block;
  margin-right: 15px;
  margin-top: 5px;
  text-transform: uppercase;
  font-weight: 800;
  color: #4c4c4c;
  background: none;
  border-radius: 4px;
  padding: 5px 15px 5px 15px;
}

.modal-footer .conf-but:hover {
  background: #eee;
  cursor: pointer;
  opacity: .8;
}

.modal-footer .conf-but.green {
  color: #14C5C9;
}

.modal_dinamic{
   width: var(--width) !important;
   height: var(--height) !important;

   @include to(m) {
      height: 100% !important;
      width: 95% !important;
   }
}
