@mixin toastPOS($bg-color: #000) {
   .toast_message {
      visibility: hidden;
      min-width: 250px;
      margin-left: -125px;
      background: $bg-color;
      color: #fff;
      text-align: center;
      border-radius: 10px;
      padding: 16px;
      position: fixed;
      z-index: 9999;
      left: 50%;
      bottom: 30px;
      font-size: 17px;
    }

    .toast_message.show {
      visibility: visible;
      animation: fadein 0.5s, fadeout 0.5s 2.5s;
    }

    @keyframes fadein {
      from {bottom: 0; opacity: 0;}
      to {bottom: 30px; opacity: 1;}
    }

    @keyframes fadeout {
      from {bottom: 30px; opacity: 1;}
      to {bottom: 0; opacity: 0;}
    }
}
