.head_content {
   float: left;
   width: 100%;
   margin-top: 5px;
   display: flex;
   justify-content: space-between;
   align-items: flex-start;

   h1 {
      float: left;
      color: var(--morado);
      background: #fff;
      font-size: var(--title);
      text-align: left;
      padding: 10px 15px;
      border-radius: 5px;
      // box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
      font-weight: $text_medium;
      letter-spacing: 0.01em;
      margin:10px 0;
   }

   .cont_btns_head {
      float: left;

      @include to(m) {
         float: left;
         width: 100%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
         margin-top: 10px;
      }

      .btn_opcion {
         @include btnPoductos(14px);
         margin: 0 5px;
         margin-bottom: 10px;
      }

      .btn_subir {
         width: 42px;
         height: 42px !important;
         background: #fff url('../img/icov/ico-upload.svg') no-repeat center center;
         background-size: 20px;
         cursor: pointer;

            &:hover{
               background: #fff url('../img/icov/ico-upload.svg') no-repeat center center;
               background-size: 25px;
            }
      }
   }
}
