:root {
   --gris-thered: #00000029;
   --blanco: #fff;
   --morado: #7200C6;
   --gris: #e8e8e8;
   --grisc: #f9f9f9;
   --negro: #1F343D;
   --rojo: #ff6567;
   --gris-secon: #eee;
   --gris-border: #999;

   //z-index
   --z-loading: 1150;

   // Shadow
   --shadow: 0px 3px 6px var(--gris-thered);


   //z-index
   --z-loading: 1150;
}
